
<div class="jumbotron">

	<center>
		<h1>Welcome to my Wildlife Portfolio</h1>

		<img src="http://www.bhamgov.org/images/General_Photos/j0262568.jpg">
		<br>

		<%= link_to "Check out my Wildlife Photos!", wildlives_path, class: "btn btn-default" %>
	</center>
</div>
