
<h1>All of my Wildlife Photos</h1>
<div class="row">
<% @wildlives.each do |wildlife| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      
     <!--  <%= image_tag wildlife.image %> -->
<!--       <div class="thumbnail"> -->
        <%= link_to(image_tag(wildlife.image, :alt =>
       "didn't show"), wildlife)%>
     <!--  </div> -->
        <h3><%= wildlife.name %></h3>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Photo', new_wildlife_path, class: "btn btn-primary" %>

<!-- class: "btn btn-default" -->
